<!DOCTYPE html>
<html ng-app="helloAngular">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/angular.min.js"></script>
    <script>
        angular.module("helloAngular", []);
        angular.module("helloAngular").controller("myHelloCtrl", function($scope) {
            // variável do controller
            $scope.mensagem = "Hello AngularJS - com {{}}";
            $scope.mensagem2 = "Outra mensagem com Angular JS - com ng-bind";
            
            // array e frutas
            $scope.arrFrutas = ["Açaí", "Melão", "Maçã", "Uva"];
            // objetos
            $scope.objPessoas = [
                {nome: "Heitor", idade: 3},
                {nome: "Bruno", idade: 25},
                {nome: "Paula", idade: 25},
                {nome: "Francisco", idade: 36}
            ];
            
            // funções
            $scope.minhaFunc = function() {
                $scope.mensagem = "Alterando valor com o data-bind | ng-click";
            };
        });
    </script>
    <title>Aula 02 - AngularJs Iniciando</title>
</head>

<body>
    <section ng-controller="myHelloCtrl">
        <h1>{{mensagem}}</h1>
        <h3 ng-bind="mensagem2"></h3>
        <div>
            Lista de Frutas (array):
            <p ng-repeat="fruta in arrFrutas">{{fruta}}</p>
            Lista de Pessoas (objeto):
            <p ng-repeat="pessoa in objPessoas">{{pessoa.nome}} - {{pessoa.idade}} anos</p>
        </div>
        <div>
            <button ng-click="minhaFunc()">Clique-me!</button>
            <input type="text" ng-model="mensagem">
        </div>
    </section>
</body>

</html>